<!DOCTYPE html>
<html>
<body>




<h1>Create Note</h1>

<form action="/notes" method="POST">
    <label for="titleInput">Title</label>
    <input type ="text" id="titleInput" name="title">

    <label for="contentsInput">Contents</label>
    <textarea name="contents" id="contentsInput" cols="30" rows="10"></textarea>
    <button type="submit">Create Note</button>


</form>


</body>
</html>