<!DOCTYPE html>
<html>
<body>

<h1>Notes</h1>
<ul>
<% notes.forEach(note => { %>
<li>
<h2>
    <%= note.title %>
    <%= note.contents %>
    <%= note.timestamp %>
</h2>

    <p>


    </p>
</li>


<% }) %>
</ul>
</body>
</html>