<!DOCTYPE html>
<html>
<body>


<ul>
<% notes.forEach(note => { %>
<li>
<h2>
    <%= note.title %>
    <%= note.contents.substring(0,200) %>
    <%= new Date(note.timestamp) %>
    <a href="/notes/<%= note.id %>">View More</a>
</h2>

    <p>


    </p>
</li>


<% }) %>
</ul>
</body>
</html>