<!DOCTYPE html>
<html>
<body>


<ul>
  <h1> <%= note.title %> </h1> 
<li>
<h2>
 
    <%= note.contents %>
    <%= new Date(note.timestamp) %> 
   <a href="/notes/">Back</a>
</h2>

    <p>


    </p>
</li>

 

</ul>
</body>
</html>